.fade-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    transparent 80%,
    #ffffff8d 100%
  );
}

.clip-shape {
  clip-path: inset(0 0 1% 0 round 20px);
}

.profile-clip {
  clip-path: ellipse(100% 60% at 50% 40%);
}
